body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    color: #222222;
    margin: 0;
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

section {
    margin-top: 24px;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 16px;
}

h1 {
    color: rgba(24, 53, 241, 0.885);
    text-align: center;
}

h2 {
    color: aqua;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer li {
    margin-bottom: 8px;
}

.java span{
    color: #ff8102;
}

.python span{
    color: rgb(5, 62, 129)
}

.icono-texto {
    height: 0.8em;
    width: auto;
    vertical-align: middle;
    margin-left: 8px;
}

.btn-active{
    background-color: black !important;
    color: white !important;
}


.redes {
    margin-top: 10px;
}
